body {
  background-color: lightskyblue;
}
h2 {
  margin-top: 70px;
}
h3 {
  color: white;
}

.container {
  display: flex;
  justify-content: center;
}

#innerbox {
  margin-top: 200px;
  margin-left: 20px;
  margin-right: 20px;
  margin-bottom: 20px;
  background-color: gray;
  padding-bottom: 100px;
  padding-top: 20px;
  border-radius: 10%;
  background-image: url("https://i.pinimg.com/originals/af/8d/63/af8d63a477078732b79ff9d9fc60873f.jpg");
}

#initialpage {
  flex-direction: column;
  align-items: left;
  color: white;
}

p {
  color: white;
  text-align: center;
  font-size: x-large;
}

li {
  padding-bottom: 3px;
  color: white;
  text-shadow: black;
  list-style-type: none;
}
button {
  color: #fff !important;
  text-transform: uppercase;
  text-decoration: none;
  background: linear-gradient(to right, #67b26b, #4ca2cb) !important;
  padding: 20px;
  border-radius: 50px;
  display: inline-block;
  border: none;
  transition: all 0.4s ease 0s;
  width: 200px;
  height: 50px;
  margin-top: 20px;
  margin-bottom: 20px;
  margin-right: 2px;
  margin-left: 2px;
}
button:hover {
  background-color: lightgray;
  color: black;
}
#quiz {
  display: none;
}
#result {
  display: none;
}
#players-input {
  size: "40";
}
#gameover {
  margin-top: 100px;
  margin-left: 20px;
  align-items: center;
  text-align: center;
  display: none;
}
#scorePage {
  border-radius: 14%;
  display: none;
  width: 50%;
  border: solid;
  border-color: limegreen;
  padding-bottom: 10px;
  background: lightslategrey;
}
#score-header {
  border-radius: 20%;
  display: flex;
  justify-content: space-around;
  margin-bottom: 10px;
  background-color: green;
  color: black;
}
#scoreContainer {
  margin-top: 150px;
  margin-bottom: 15px;
  height: 100%;
  width: 100%;
  display: none;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
#new-initials {
  margin-left: 20px;
  margin-right: 20px;
  height: 30px;
  width: 350px;
  padding: 1px;
  text-align: center;
}
#players-initials {
  display: inline-block;
  /* padding-left: 9.5rem; */
  padding-left: 150px;
  font-weight: bold;
}
#players-score {
  float: right;
  /* padding-right: 8.75rem; */
  padding-right: 175px;
  font-weight: bold;
}
#finalScore {
  padding-bottom: 0.5rem;
  font-size: x-large;
  font-weight: bold;
}
#gameOverBtns {
  display: none;
}
#submitScore {
  background-color: #575b7e;
  color: white;
  text-align: center;
  padding: 10px;
  width: 200px;
}
#quizTimer {
  color: green;
  font-size: xx-large;
  text-align: center;
}